@*
<input type="text" @bind="_dollars" />
<button type="button" @onclick="Convert">Convert</button>

@if (_rials > 0)
{
	@(_rials.ToString(format: "#,##0"))
	@:Rials
}

@code
{
	private long _rials;

	private long _dollars = 1_000;

	private void Convert()
	{
		_rials =
			_dollars * 650_000;
	}
}
*@

<input type="text" @bind="Dollars" />
<button type="button" @onclick="Convert">Convert</button>

@if (Rials > 0)
{
	@(Rials.ToString(format: "#,##0"))
	@:Rials
}

@code
{
	protected override void OnInitialized()
	{
		Dollars = 1_000;
	}

	private long Rials { get; set; }

	private long Dollars { get; set; }

	private void Convert()
	{
		Rials =
			Dollars * 650_000;
	}
}
