<input type="text" @bind="Dollars" />
<button type="button" @onclick="Convert">Convert</button>

@if (Rials > 0)
{
	@(Rials.ToString(format: "#,##0"))
	@:Rials
}

@code
{
	private long Rials { get; set; }

	[Parameter]
	public int Rate { get; set; } = 300000;

	[Parameter]
	public long Dollars { get; set; } = 1000;

	[Parameter]
	// public EventCallback OnRialsChanged { get; set; }
	public EventCallback<long> OnRialsChanged { get; set; }

	private void Convert()
	{
		Rials =
			Dollars * Rate;

		// OnRialsChanged.InvokeAsync();
		OnRialsChanged.InvokeAsync(arg: Rials);
	}
}
