<button type="button" class="btn btn-primary" @onclick="ButtonClicked">@(Caption)</button>

@code
{
	[Parameter]
	public EventCallback OnClick { get; set; }

	[Parameter]
	//public string Caption { get; set; } = "Submit";
	public string Caption { get; set; } = Resources.Buttons.Submit;

	private void ButtonClicked()
	{
		OnClick.InvokeAsync();
	}
}
