<DtatAlert>

	<ul>
		@*
		@foreach (var item in collection)
		{
		<li>@(item)</li>
		}
		*@
	</ul>

</DtatAlert>

@code
{
	[Parameter]
	public IEnumerable<string>? Messages { get; set; }

	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	[Parameter]
	public Components.DtatAlert.AlertType Type { get; set; }
}
