@page "/learn_5900"

@inject Services.ApplicationSettingsService ApplicationSettingsService

<h3>
	Full Name: @(ApplicationSettingsService.FullName)
</h3>

<DtatPanel>
	<DtatPanelHeader>
		Hello, World!
	</DtatPanelHeader>
</DtatPanel>

@code
{
}
