@page "/learn_5600"

<h3>
	Add New Project -> Razor Class Library
</h3>

<Dtx.Razor.Component1></Dtx.Razor.Component1>

<hr />

<Component1 />

<hr />

@code
{
	protected override void OnInitialized()
	{
		base.OnInitialized();
	}

}
