@page "/learn_1400"

<div>
	@(Message1)
</div>

@*
<div>
	@(Html.Raw(Message1))
</div>
*@

<hr />

<div>
	@((MarkupString)Message2)
</div>

<hr />

<div>
	@((MarkupString)Message3)
</div>

@code
{
	private string Message1 { get; set; } = "<b><i>Hello, World!</i><b>";
	private string Message2 { get; set; } = "<b><i>Hello, World!</i><b>";
	private string Message3 { get; set; } = "<b><i>Hello, World!</i><b><script>alert('You Hacked!')</script>";
}
