@page "/learn_1500"

<h3>
	One Way Binding: @(Message)
</h3>

<hr />

<h3>
	Two Way Binding:
	<br />
	<input type="text" class="form-control" @bind="Message" />
</h3>

<h3>
	Two Way Binding:
	<br />
	<input type="text" class="form-control" @bind-value="Message" />
</h3>

<hr />

@code
{
	private string Message { get; set; } = "Hello, World!";
}
