@page "/learn_3500"

<h3>
	@(Message)
</h3>

<hr />

<DtatButton1></DtatButton1>

<hr />

<DtatButton1 Caption="Caption 2"></DtatButton1>

<hr />

<DtatButton1 OnClick="Button3Clicked"></DtatButton1>

<hr />

<DtatButton1 Caption="Caption 4" OnClick="() => Button4Clicked()"></DtatButton1>

<hr />

@code
{
	private string? Message { get; set; }

	private void Button3Clicked()
	{
		Message =
			"Third Button Clicked!";
	}

	private void Button4Clicked()
	{
		Message =
			"Forth Button Clicked!";
	}
}
