@page "/learn_4200"

<h3>
	Fake (Mock) Services:
</h3>

<br />
<a href="https://jsonplaceholder.typicode.com/">
	https://jsonplaceholder.typicode.com
</a>

<br />

<a href="https://designer.mocky.io/">
	https://designer.mocky.io
</a>

<br />

<a href="https://reqres.in/">
	https://reqres.in
</a>

<br />

<a href="https://fakejson.com/">
	https://fakejson.com
</a>

<br />

<a href="https://mocki.io/">
	https://mocki.io
</a>

<hr />

@code
{
}
