@page "/learn_1300"

<h3>
	@(Message1)
</h3>

<h3>
	@(Message2)
</h3>

@code
{
	private string Message1 { get; set; } = "Hello, World (1)!";
	private string Message2 { get; set; } = "Hello, World (2)!";
}
