@page "/learn_1700"

<h3>
	@(Message)
</h3>

<hr />

<h3>
	<input type="text" class="form-control" @bind="Message" @bind:event="oninput" />
</h3>

<h3>
	<input type="text" class="form-control" @bind="Message" @bind:event="oninput" />
</h3>

<hr />

@code
{
	private string Message { get; set; } = "Hello, World!";
}
