@page "/learn_3600"

<h3>
	@(Message)
</h3>

<hr />

<DtatButton2></DtatButton2>

<hr />

<DtatButton2 Caption="Caption 2"></DtatButton2>

<hr />

<DtatButton2 OnClick="Button3Clicked"></DtatButton2>

<hr />

<DtatButton2 Caption="Caption 4" OnClick="() => Button4Clicked()"></DtatButton2>

<hr />

<DtatButton2 Caption="Caption 5" OnClick="(e) => Button5Clicked(e)"></DtatButton2>

@code
{
	private string? Message { get; set; }

	private void Button3Clicked()
	{
		Message =
			"Third Button Clicked!";
	}

	private void Button4Clicked()
	{
		Message =
			"Forth Button Clicked!";
	}

	private void Button5Clicked(MouseEventArgs e)
	{
		Message =
			$"Fifth Button Clicked! - X: {e.ScreenX} - Y: {e.ScreenY}";
	}
}
