@page "/learn_5600"

<h3>
	Add New Project => Razor Class Library
</h3>

<ul>
	<li>Add reference Dtat.Razor (Razor Class Library)</li>
</ul>

<Dtat.Razor.Component1></Dtat.Razor.Component1>

<hr />

<Dtat.Razor.Component1 />

<hr />

@code
{
	protected override void OnInitialized()
	{
		base.OnInitialized();
	}
}
