@page "/learn_1200"

<h3>
	@(Message1)
</h3>

@code
{
	private string Message1 { get; set; } = "Hello, World (1)!";
}

<h3>
	@(Message2)
</h3>

@code
{
	private string Message2 { get; set; } = "Hello, World (2)!";
	// private string Message1 { get; set; } = "Hello, World (1)!"; // Error!
}
