@page "/learn_4000/"
@page "/learn_4000/{Id:int}"

<h3>
	This page accept some input value!
</h3>

<hr />

Id: @(Id)

@code
{
	[Parameter]
	public int? Id { get; set; }

	protected override Task OnParametersSetAsync()
	{
		if (Id.HasValue == false)
		{
			Id = 10;
		}

		return base.OnParametersSetAsync();
	}
}
